*{
    padding: 0px;
    margin: 0px;
} 
/* The navbar container */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E6B182;
}
ul.topnav li {
    float: left;
}
ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}
ul.topnav li a:hover {
    background-color: #A8DCDA;
    color: black;
}
ul.topnav li.right {
    float: right;
}
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li 
{
float: none;
}
}
ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.active {
    font-weight: 500;
    background-color: #A8DCDA;
}
.footer {
    background-color: #E6B182;
    text-align: center;
    display: block;
    font-weight: 500;
    color: black;
    padding: 24px 26px;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 50px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
.column {
    width: 100%;
  }
}
img {
    max-width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    vertical-align: top;
}
body {
    background-color: #F0EDD5;
}
h1 {
    color: black;
    font-family: 'Calistoga', cursive;
    font-size: 75px;
}
h2 {
    color: black;
    font-family: 'Calistoga', cursive;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
}
h3 {
    color:black;
    padding-top: 25px;
    padding-bottom: 25px;
    vertical-align: top;
    font-weight: 500;
}
p {
    color:black;
    padding-top: 25px;
    padding-bottom: 25px;
    align-content: center;
}

section{
    width: 100%;
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
}
.responsive {
    width: 100%;
    height: auto;
}
#sideoversikt a:link, a:visited {
    background-color: #A8DCDA;
    color: black;
    border: none;
    padding: 15px 60px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-decoration: none;
    display: block;  
}
#sideoversikt .p; {
    min-height: inherit;
}

#infografikk {
    color: black;
    border: none;
    padding: 15px 60px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    display: inline-block;  
    text-align: left; 
    position: top;
    vertical-align: top;
}

#sideoversikt a:hover, a:active {
    background-color: #E6B182;
    color: black;
    font-weight: 500;
    display: block;
    text-align: center;
}
div.kirke {
    max-width: 500px;
    margin: auto;
    background-color: #E6B182;
}
#footer {
    background-color: #E6B182;
    border-top: 10%;
}